<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= dairy.name %> Page</title>
    <link rel="stylesheet" href="/css/show.css" />
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="text-content">
    <h1><%= dairy.name %></h1>
    <p >Type: <%= dairy.type %></p>
    <p >Texture: <%= dairy.texture %></p>
    <p >Flavor: <%= dairy.flavor %></p>
    <p >Color: <%= dairy.color %></p>
    <p >Seasonality: <%= dairy.seasonality %></p>
  </div>
    <img
    src="<%= dairy.img %>"
    alt="Your Image"
    width="275"
    height="325"
  />
</div>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere beatae
      quo, perspiciatis provident omnis quasi explicabo consequuntur debitis
      modi dolores tenetur laboriosam enim ipsam! Optio quam velit aut illum vel
      similique animi cupiditate. Facilis consequuntur, ex quam delectus
      similique ut earum magnam eveniet amet ducimus, facere necessitatibus
      assumenda odit, cupiditate nobis ab laudantium ad at porro quod animi
      inventore fugit. Consectetur maiores eaque, iste nemo officiis reiciendis
      eum facilis temporibus vel? Pariatur maxime qui natus architecto cumque
      labore sapiente aspernatur quidem. Accusamus et rem dicta numquam expedita
      velit reiciendis perferendis excepturi distinctio iusto! Reiciendis ea
      nam, debitis minus quo ipsum?
    </p>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo delectus
      provident atque, quam tempore maxime recusandae commodi ex pariatur iusto.
    </p>

    <a href="/dairy">Go Back...</a>
    <button><a href="/dairy/<%= id %>/edit">Edit</a></button>
    <button><a href="/dairy/<%= id %>/delete">Delete</a></button>
  </div><link rel="stylesheet" href="/css/show.css" />
  </body>
</htdairy